.task-container {
	position: relative;
	background-color: white;
	width: 100%;
	max-height: 300px;

	box-sizing: border-box;
	box-shadow: 0px 1px 3px 0px rgb(88, 88, 88);
	border-radius: 3px;
	margin-bottom: 15px;
	transition: 0.3s;
}

.task-container:hover .task-card-body {
	cursor: pointer;
	background-color: rgb(243, 243, 243);
}

.task-container:hover .task-description {
	margin-bottom: 30px;
}

.task-card-options-button {
	position: absolute;
	right: 15px;
	font-size: 25px;
	top: 5px;

	z-index: 1;
}

.task-card-options-button:hover {
	color: red;
}

.task-card-body {
	position: relative;
	border-radius: 3px;
	padding: 20px;
	transition: 0.3s;
}

.task-main-text {
	font-weight: bold;
	font-size: 19px;
	font-family: "Source Sans Pro";
	color: #191e25;
	line-height: 20px;

	width: 90%;
}

.task-description {
	font-size: 14px;
	margin-top: 15px;
	transition: 0.15s;
	font-family: "Poppins";
}

.task-tags-container {
	position: relative;
	top: 8px;
	margin-top: 20px;
}
.task-tag {
	font-size: 12px;
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	font-family: "Cabin";
}

.task-card-menu-container {
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 1px 1px black;
	width: 200px;
	height: 100px;
	right: 0px;
	top: 0px;
	z-index: 3;
}

.development {
	background-color: blue;
	color: white;
}
