.task-modal-container {
	position: absolute;
	padding: 15px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 0px 1px 1px black;
	width: 1000px;
	height: 800px;
	z-index: 4;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.task-category-selector {
	border: 1px solid gray;
	display: inline-block;
	margin-right: 10px;
	padding: 8px 12px;
}

.close-task-modal-button {
	position: absolute;
	right: 15px;
	color: red;
}

.task-modal-task-title {
	font-weight: bold;
	font-size: 27px;
}

.task-modal-task-description {
	font-size: 18px;
	margin-top: 20px;
}
