body {
}

.App {
	height: 100vh;
	display: grid;
	grid-template-columns: 300px auto;
}

.nav-bar-container {
	position: relative;
	background-color: white;
	box-sizing: border-box;
	border-right: 1px solid black;
}

.nav-bar-header {
	text-align: center;
	box-sizing: border-box;
	padding: 30px;

	border-bottom: 1px solid gray;
	font-size: 30px;
	font-weight: bold;
}

.nav-links-container {
}

.nav-link-section {
	position: relative;
}

.nav-link-section-header {
	position: relative;
	font-family: "Open Sans";
	font-weight: bold;

	left: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	color: #14212e;

	box-sizing: border-box;
	width: 90%;
}

.add-project-button {
	font-size: 14px;
	font-family: "Open Sans";
	padding-bottom: 3px;
	padding-top: 3px;
	font-weight: 600;
	color: white;
	background-color: #2ecc71;
	border-style: none;
	float: right;
	transition: 0.3s;
}

.add-project-button:hover {
	cursor: pointer;
	background-color: #089242;
}

.nav-footer-container {
	position: absolute;
	border-top: 1px solid gray;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	bottom: 0px;
}

.main-view-container {
	background-color: rgb(228, 228, 228);
}

.main-view-wrapper {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-rows: 101px auto;
}

.main-view-header {
	background-color: white;
	box-sizing: border-box;
	padding: 30px;
	font-size: 30px;
	border-bottom: 1px solid gray;
}

.settings-button {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	float: right;
}

.add-project-modal-container {
	position: absolute;
	background-color: white;
	width: 500px;
	height: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
