.tasks-container {
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	background-color: rgb(243, 243, 243);
	display: flex;
	justify-content: space-around;
}

.tasks-wrapper {
	position: relative;
	max-height: 710px;

	height: 100%;
	width: 350px;
	box-sizing: border-box;
	padding: 5px;
	overflow-y: scroll;
}

.tasks-scroll-wrapper {
	position: relative;
	overflow-y: scroll;

	background-color: red;
	height: 100%;
	width: 350px;
}

.tasks-wrapper-header {
	position: relative;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
	margin-bottom: 30px;
	font-family: "Titillium Web";
	font-weight: bold;
	font-size: 20px;
	color: #2f3640;
}

.add-task-button {
	position: absolute;
	right: 0px;
}

.to-do-header {
	border-color: #004bec;
}

.in-progress-header {
	border-color: #ff6600;
}

.stuck-header {
	border-color: #bd0000;
}

.complete-header {
	border-color: #2ecc71;
}



@media only screen and (max-width: 1600px) {
	.tasks-wrapper {
	position: relative;
	max-height: 710px;

	height: 100%;
	width: 250px;
	box-sizing: border-box;
	padding: 5px;
	overflow-y: scroll;
}

  }